<!DOCTYPE html>
<html>
    <%- include('_head', {title: '404'}) %>
    <body>
        <div class="fullpage">
            <%- include('_navbar') %>
            <div class="fullpage__centered is-danger">
                <article>
                    <h1 class="title">404</h1>
                    <h2 class="subtitle">No such page found.</h2>

                    <a href="/dashboard">
                        <span class="icon">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                        <span>Back to safety</span>
                    </a>

                </article>
            </div>
        </div>
    </body>
</html>

