<head>
    <title>Email Studio <%- title ? ` - ${title}` : '' %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/static/index.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.css" rel="stylesheet">
    <link href="/static/compsoc-icon.png" rel="icon">
    
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" crossorigin="anonymous">
</head>

