<!DOCTYPE html>

<html>
    <head>
        <title>SSO demo - logged in</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/static/index.css" rel="stylesheet">
        <link href="/static/compsoc-icon.png" rel="icon">
    </head>
    <body>
        <main>
            <h1>sso demo (js)</h1>
            <p>
                Logged in as <%= user.name %> <i>(<%= user.email %>)</i> <br/>
                <a href="/auth/logout">Log out &rarr;</a>
            </p>
            <img src="<%= user.photo %>" alt="your profile pic"/>
        </main>
    </body>
</html>

