<!DOCTYPE html>
<html>
    <%- include('_head', {title: undefined}) %>
    <body>
        <div class="fullpage">
            <div class="fullpage__centered">
                <article>
                    <div class="image is-64x64">
                        <img src="/static/sunhacks-icon.png" alt="sunhacks logo">
                    </div>
                    <h1 class="title">sunhacks email studio</h1>
                    <h2 class="subtitle">An internal sunhacks service.</h2>
                    <p class="block">
                        This service bridges our Sendy instance with an
                        MJML-powered designer, and allows for creation of
                        S3-backed image files with simple asset management.
                    </p>
                    <p class="block">
                        <div class="level">
                            <div class="level-left"></div>
                            <div class="level-right">
                                <a href="/auth/google">
                                    <span>Log in</span>
                                    <span class="icon">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </p>
                </article>
            </div>
        </div>
    </body>
</html>
